[submodule "Trident/vendor/glm"]
	path = Trident/vendor/glm
	url = https://github.com/ThatTanishqTak/glm.git
[submodule "Trident/vendor/spdlog"]
	path = Trident/vendor/spdlog
	url = https://github.com/ThatTanishqTak/spdlog.git
[submodule "Trident/vendor/imgui"]
	path = Trident/vendor/imgui
	url = https://github.com/ThatTanishqTak/imgui.git
	branch = docking
[submodule "Trident/vendor/stb"]
	path = Trident/vendor/stb
	url = https://github.com/ThatTanishqTak/stb.git
[submodule "Trident/vendor/tinygltf"]
	path = Trident/vendor/tinygltf
	url = https://github.com/ThatTanishqTak/tinygltf.git
[submodule "Trident/vendor/entt"]
	path = Trident/vendor/entt
	url = https://github.com/ThatTanishqTak/entt.git
[submodule "Trident/vendor/ImGuizmo"]
	path = Trident/vendor/ImGuizmo
	url = https://github.com/ThatTanishqTak/ImGuizmo.git
[submodule "Trident/vendor/tinyexr"]
	path = Trident/vendor/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "Trident/vendor/nanosvg"]
	path = Trident/vendor/nanosvg
	url = https://github.com/ThatTanishqTak/nanosvg.git
