[submodule "Trident/vendor/glm"]
	path = Trident/vendor/glm
	url = https://github.com/ThatTanishqTak/glm.git
[submodule "Trident/vendor/spdlog"]
	path = Trident/vendor/spdlog
	url = https://github.com/ThatTanishqTak/spdlog.git
[submodule "Trident/vendor/imgui"]
	path = Trident/vendor/imgui
	url = https://github.com/ThatTanishqTak/imgui.git
	branch = docking
[submodule "Trident/vendor/tinygltf"]
	path = Trident/vendor/tinygltf
	url = https://github.com/ThatTanishqTak/tinygltf.git
