# Binaries and intermediate files
**/bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Model and texture files
**.obj
**.gltf
**.iqm
**.vox
**.m3d
**.png
**.exr
**.psd
**.tif