[submodule "Trident/vendor/glm"]
	path = Trident/vendor/glm
	url = https://github.com/ThatTanishqTak/glm.git
[submodule "Trident/vendor/spdlog"]
	path = Trident/vendor/spdlog
	url = https://github.com/ThatTanishqTak/spdlog.git
[submodule "Trident/vendor/imgui"]
	path = Trident/vendor/imgui
	url = https://github.com/ThatTanishqTak/imgui.git
	branch = docking
[submodule "Trident/vendor/stb"]
	path = Trident/vendor/stb
	url = https://github.com/ThatTanishqTak/stb.git
[submodule "Trident/vendor/assimp"]
	path = Trident/vendor/assimp
	url = https://github.com/ThatTanishqTak/assimp.git